.Alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 4px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  font-weight: bold;
  color: #171816;
  background-color: #ffffcc;
  border: none;
  outline: none;
  z-index: 2;
}

.Alert___success {
  color: #007c2b;
  background-color: #a6ebb2;
}

.Alert___warn {
  color: #b38600;
  background-color: #ffecb3;
}

.Alert___fail {
  color: #c40041;
  background-color: #efb0c3;
}
