.Div_100___column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Div_33___row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
}

.Div___row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50vh;
  width: 100vw; */
}