/* ========================================
            Button Base
======================================== */

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 4px;
  padding: 12px 35px;
  gap: 10px;
  background: #22C55E;
  border-radius: 0.5rem;
  height: 50px;
  width: 65vw;
  max-width: 350px;
  min-width: 100px;
  border: none;
  outline-color: transparent;
}

.Button:active {
  transform: scale(0.95);
}

/* ========================================
            Button Link
======================================== */
.Button_link {
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  height: auto;
  width: auto;
  color: #7de3c5;
}


/* ========================================
            Button Workout
======================================== */

.Button_workout {
  padding: 0px;
  min-width: 0px;
  min-height: 0px;
  height: 2.25em;
  width: 2.25em;
  border-radius:  0.65em;
  font-size: x-large;
  background: rgba(255, 255, 255, 0.5);
}

.Button_workout___increment {
  background: #22C55E;
}

.Button_workout___decrement {
  background: #ff4d4d;
}

.Button_card {
  margin: 0.5rem;
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, rgba(197, 196, 196, 0.47) 0%, rgba(166, 165, 165, 0.47) 100.96%);
  box-shadow: 6px 6px 12px rgba(156, 156, 156, 0.6);
  border-radius: 1.5rem;
  border: none;
  outline-color: transparent;
  transition: all .2s ease-in-out;
}

.Button_card:hover {
  cursor: pointer;
  transform: scale(1.1);
}