/* ========================================
            Button
======================================== */

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 1.5rem;
  padding: 40px;
  font-weight: bold;
  font-size: larger;
}

/* ========================================
            Button Sizes
======================================== */

.Button_small {
  height: 5rem;
  width: 5rem;
}
.Button_medium {
  height: 6.25rem;
  width: 6.25rem;
}
.Button_large {
  height: 7.5rem;
  width: 7.5rem;
}

/* ========================================
            Button Selections
======================================== */

.Button___selected {
  background: #7de3c5;
}

.Button___default {
  background: rgba(255, 255, 255, 0.5);
}