/* ========================================
            Button
======================================== */

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-sizing: border-box;
  border: none;
  outline-color: transparent;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: larger;
}

.Button_workout {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: none;
  outline-color: transparent;
  border-radius: 0.75em;
  font-weight: bold;
  font-size: larger;
  height: 2.5em;
  width: 5em;
  background: rgba(0, 0, 0, 0.55);
}

.Button:active {
  transform: scale(0.95);
}

/* ========================================
            Button Sizes
======================================== */


.Button_tiny {
  height: 4em;
  width: 4em;
}

.Button_small {
  height: 5.5em;
  width: 5.5em;
}

.Button_medium {
  height: 6.25em;
  width: 6.25em;
}

.Button_large {
  height: 7.5em;
  width: 7.5em;
}

/* ========================================
            Button Selections
======================================== */

.Button___selected {
  background: #14B8A6;
  /* background: #7de3c5; */
}

.Button___default {
  background: rgba(255, 255, 255, 0.55);
}