.Input_label {
  position: relative;
  border: solid;
  border-width: thin;
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  margin: 12px;
  width: 70%;
}

.Input_title {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  font-weight: light;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #000;
  text-align: center;
  border-radius: 5px;
  font-size: 0.8rem;
}

.Input_style {
  border: none;
  outline: none;
  font-weight: light;
  background-color: transparent;
  padding: 5px;
  text-align: center;
}