.Div_100___column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 700px;
}

.Div_33___row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
  width: 100%;
  max-width: 700px;
}

.Div_33___column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33vh;
  width: 100%;
  max-width: 700px;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
}