/* ========================================
            Container
======================================== */
.PlateCalculator_body {
  position: relative;
  width: 65vw;
  height: 15vh;
  padding: 2.5px;
  background: white;
  border-radius: 1.5rem;
}

.PlateCalculator_caption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-weight: bold;
}

.PlateCalculator_legend {
  position: absolute;
  top: 5%;
  right: 5%;
}

.PlateCalculator_legend___half {
  color: #008097;
  font-weight: bold;
  font-size: 1rem;
}
.PlateCalculator_legend___5 {
  color: #a1003c;
  font-weight: bold;
  font-size: 1rem;
}
.PlateCalculator_legend___10 {
  color: #863fc2;
  font-weight: bold;
  font-size: 1rem;
}
.PlateCalculator_legend___25 {
  color: #22ae49;
  font-weight: bold;
  font-size: 1rem;
}
.PlateCalculator_legend___35 {
  color: #BFAB11;
  font-weight: bold;
  font-size: 1rem;
}
.PlateCalculator_legend___45 {
  color: #2459be;
  font-weight: bold;
  font-size: 1rem;
}


/* ========================================
            Barbell
======================================== */
.Bar_container {
  position: relative;
  background: transparent;
  height: 100%;
  width: 100%;
}

.Bar_body {
  position: absolute;
  top: 50%;
  left: 5px;
  height: 10%;
  width: 45%;
  transform: translate(0, -50%);
  background: #9CA3AF;
}

.Bar_divider {
  position: absolute;
  top: 50%;
  left: 18px;
  height: 20%;
  width: 6%;
  transform: translate(0, -50%);
  background: #9CA3AF;
}

.Bar_plateContainer {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  height:75%;
  width: 40%;
  transform: translate(30%, -50%);
}

/* ========================================
            Plates
======================================== */
.Plate {
  margin: 1px;
}

.Plate_half {
  height: 55%;
  width: 7%;
  background: #008097;
}

.Plate_5 {
  height: 60%;
  width: 8%;
  background: #a1003c;
}

.Plate_10 {
  height: 65%;
  width: 9%;
  background: #863fc2;
}

.Plate_25 {
  height: 70%;
  width: 10%;
  background: #22ae49;
}

.Plate_35 {
  height: 75%;
  width: 11%;
  background: #BFAB11;
}

.Plate_45 {
  height: 80%;
  width: 12%;
  background: #2459be;
}