.Badge {
  height: 1em;
  width: 1em;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #14B8A6;
  font-size: 2rem;
  font-weight: bold;
}