.Div_33___row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}